__pycache__/
archive/*
.ipynb_checkpoints/
ban-data/
flores-eval/
openai/
output-eval-ban-flores/
output-eval-flores/
human_written_data/
human_written_data_old/
human_written_data1/
models/
.cache/
alma-7b-*
wiki-dump
backtranslation-ban/
lid218e.bin
mono/
text/
output-*
human_written_data*/
archive
outputs/
data/
.env
wandb/