transformers==4.42.4
datasets
python-dotenv
vllm
fasttext
# git+https://github.com/fe1ixxu/ALMA.git@alma-r-hf
peft==0.5.0
sentencepiece
sacrebleu
ipython
datasets
evaluate
deepspeed==0.13.1
einops
wandb
zstandard
accelerate==0.27.2
jsonlines
git+https://github.com/huggingface/trl.git@dc6a934269a6d42cceb1565829030fc73e00e8cf
unbabel-comet
opusfilter
scikit-learn
torch==2.3.0
torchvision==0.18.0